*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size:cover;
    height: 100vh;
    background-image: url('background-image.jpeg');
}
glass-container{
    width: 300px;
    height: 350px;
    position: relative;
    z-index: 1;
    border: 1px solid #fff;
    border-radius: 10px;
    background:rgba(255, 255,255,0.1);
}
